Repository MaibornWolff/clean-air, pull requests merged in 2020-11, with the labels that each got.

#33 common lib for json
  firmware/include/defaults.h
  firmware/include/json_handler.h
  firmware/src/json_handler.cpp
  firmware/src/main.cpp
  firmware/src/updateService.cpp
Labels: firmware

#55 fix: allow max possible fan speed
  firmware/include/rotary.h
  firmware/src/fanController.cpp
Labels: bug, firmware

#59 only run CI for firmware/ changes
  .github/workflows/main.yml
Labels: cicd, enhancement

#64 Create Github release when pushing a specific tag
  .github/workflows/main.yml
  .github/workflows/release.yml
Labels: cicd

#52 45 physics
  .gitignore
  documentation/images/PosA.png
  documentation/images/PosB.png
  documentation/irradiation.xlsx
  documentation/theory.pdf
  documentation/theory.tex
  firmware/platformio.ini
Labels: documentation

#61 Fix retrieving of software version and store last speed indication
  firmware/include/README
  firmware/include/defaults.h
  firmware/include/fanController.h
  firmware/include/jsonHandler.h
  firmware/include/json_handler.h
  firmware/include/operationHourCounter.h
  firmware/include/rotary.h
  firmware/include/updateService.h
  firmware/src/fanController.cpp
  firmware/src/jsonHandler.cpp
  firmware/src/json_handler.cpp
  firmware/src/main.cpp
  firmware/src/operationHourCounter.cpp
  firmware/src/rotary.cpp
  firmware/src/updateService.cpp
Labels: firmware

#54 Update documentation section
  documentation/3dmodel.md
  documentation/README.md
  documentation/software.md
Labels: documentation

#66 Add documentation and pictures for 3D printable version
  README.md
  documentation/3dmodel.md
  documentation/README.md
  documentation/images/3d_printable/fan_view.jpg
  documentation/images/3d_printable/inside_unfinished_1.jpg
  documentation/images/3d_printable/io_to_cut.jpg
  documentation/images/3d_printable/messy_elektronics.jpg
  documentation/images/3d_printable/schable_sample.jpg
  documentation/images/3d_printable/side_view.jpg
  documentation/images/3d_printable/side_with_knob.jpg
  documentation/images/3d_printable/uvc_holder_done.jpg
  documentation/images/3d_printable/uvc_holder_hole.jpg
  documentation/images/3d_printable/uvc_holder_unwrapped.jpg
  documentation/images/3d_printable/uvc_holder_wrapped.jpg
  hardware/hybrid_alu/schablone_alu.stl
Labels: documentation

#65 docs: Add commit guidelines to the contribution guidelines
  CONTRIBUTING.md
Labels: documentation

#67 docs: Fix LICENSE link in main README.md
  README.md
Labels: bug, documentation
